@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
body {
  font-family: "Noto Sans JP";
}

:root {
  --black: #000000;
  --white: #ffffff;
  --noto-sans-jp: "Noto Sans JP";

  color: var(--black);
  font-family: var(--noto-sans-jp);
  font-size: 16px;
  font-weight: 500;
}
